<!DOCTYPE html>
<html>

<head>
    <title>Edit Fee</title>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>Edit Fee</h1>

<form method="POST">

Student<br>

<select name="student">

{% for student in students %}

<option value="{{ student[0] }}"
{% if student[0] == fee[1] %}selected{% endif %}>
{{ student[1] }}
</option>

{% endfor %}

</select>

<br><br>

Total Fee<br>

<input
type="number"
name="total_fee"
value="{{ fee[2] }}"
required>

<br><br>

Paid Amount<br>

<input
type="number"
name="paid_amount"
value="{{ fee[3] }}"
required>

<br><br>

Payment Date<br>

<input
type="date"
name="payment_date"
value="{{ fee[5] }}"
required>

<br><br>

<button type="submit">

Update Fee

</button>

</form>

<br>

<a href="/fees_report">

Back

</a>

</body>

</html>
